html {
    box-sizing: border-box;
    height: 100%;
}

html *,
html ::after,
html ::before {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    font-family: "Montserrat", Tahoma, sans-serif;
    color: $color-main--dark;
    word-wrap: break-word;
    background-color: #fff;
}

a {
    text-decoration: none;

    &[href] {
        cursor: pointer;
    }
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    border-style: none;
}

picture {
    display: block;
}

input,
select,
textarea {
    display: block;
    width: 100%;
    padding: 19px 25px;
    font-size: 14px;
    font-family: inherit;
    color: $color-main;
    background-color: #fff;
    border: 1px solid $color-secondary;
    border-radius: 30px;
    transition: all .15s ease-in;

    &:hover,
    &:focus {
        outline: none;
    }

    &:focus {
        box-shadow: 0 0 10px rgba(81, 98, 144, .7);
    }
}

textarea {
    resize: none;
}

input.error,
input.wpcf7-not-valid,
textarea.error,
textarea.wpcf7-not-valid {
    border-color: $color-warning !important;

    &:focus {
        box-shadow: 0 0 10px rgba(251, 82, 88, .7);
    }
}

::placeholder {
    color: #adadad;
}

.container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

h1,
h2,
h3,
h4,
.heading-2,
.heading-3,
.heading-4 {
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}

h1 {
    font-weight: 700;
    font-size: 48px;
}

h2,
.heading-2 {
    font-size: 38px;
}

h3,
.heading-3 {
    font-size: 28px;
}

h4,
.heading-4 {
    font-size: 18px;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 35px;
    }

    h2,
    .heading-2 {
        font-size: 30px;
    }

    h3,
    .heading-3 {
        font-size: 24px;
    }
}
