// Colors
$color-main:             #35394a;
$color-main--dark:       #313131;
$color-secondary--light: #879dd7;
$color-secondary:        #516290;
$color-accent:           #fdd247;
$color-warning:          #fb5258;

$color-2: #192034;
