.actions-posts {
    display: flex;
    justify-content: space-between;
}

.actions-posts__number-of-posts {
    margin: 0;
    font-size: 14px;
}

.actions-posts__filter-show-button {
    display: none;
    padding: 0;
    font-size: 14px;
    background: 0 0;
    border: none;

    &:focus {
        outline: none;
    }
}

.actions-posts__filter-show-button svg {
    margin-right: 5px;
}

@media screen and (max-width: 1200px) {
    .actions-posts {
        width: 750px;
    }

    .actions-posts__filter-show-button {
        display: flex;
    }
}

@media screen and (max-width: 992px) {
    .actions-posts {
        width: 690px;
    }
}

@media screen and (max-width: 768px) {
    .actions-posts {
        width: 360px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (max-width: 390px) {
    .actions-posts {
        width: 100%;
    }
}