.article {
    padding-top: 65px;
    background-color: $color-bg;
    overflow: hidden;
}

.article__content {
    margin-bottom: 50px;
}

.article__back-button {
    min-width: 200px;
}

//.article__img {
//    max-width: none;
//    width: calc(100vw - var(--scrollbar-width));
//    margin-top: 30px;
//    margin-bottom: 30px;
//    margin-left: calc((100vw - var(--scrollbar-width) - 1140px)/-2);
//}
