.body-authors-tabs {
    position: relative;
    padding-left: 235px;
}

.body-authors-tabs__head {
    display: flex;
    align-items: center;
    margin-bottom: 22px;
}

.body-authors-tabs__avatar-box {
    position: absolute;
    top: 0;
    left: 45px;
    flex-shrink: 0;
}

.body-authors-tabs__avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.body-authors-tabs__name {
    display: block;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    line-height: 1.5;
    color: $color-secondary;
}

.body-authors-tabs__position {
    display: block;
    margin: 0;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.5;
}


@media screen and (max-width: 992px) {
    .body-authors-tabs {
        padding-left: 0;
    }

    .body-authors-tabs__avatar-box {
        position: static;
        margin-right: 30px;
    }
}
