.body-tabs-steps {
    position: relative;
    padding: 90px 30px 35px 55px;
    background-color: #fff;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 100%;
        z-index: 1;
        width: 100vw;
        background-color: #fff;
    }
}

.body-tabs-steps__wr {

}

.body-tabs-steps__wr * {
    position: relative;
    z-index: 2;
}

.body-tabs-steps__number {
    position: absolute;
    top: 40px;
    left: 55px;
    z-index: 1;
    font-size: 150px;
    line-height: .8;
    color: #e4e4e4;

    .tabs-steps-section--left & {
        left: 390px;
    }

    .tabs-steps-section--left .body-tabs-steps--no-img & {
        left: 55px;
    }

    & + p {
        margin-top: 0;
    }
}

.body-tabs-steps .body-tabs-steps__img-box {
    position: relative;
    float: right;
    width: calc((100vw - var(--scrollbar-width) - 1170px)/2 + 375px);
    margin: -270px (calc(((100vw - var(--scrollbar-width) - 1140px)/-2 - 30px))) 15px 30px;

    .tabs-steps-section--left & {
        float: left;
        margin: -270px 30px 15px (calc(((100vw - var(--scrollbar-width) - 1140px)/-2 - 55px)));
    }
}

.body-tabs-steps__img {
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .body-tabs-steps {
        padding-top: 50px;
        padding-right: 0;
        padding-left: 30px;
    }

    .body-tabs-steps__number {
        left: 30px;

        .tabs-steps-section--left & {
            left: 460px;
        }

        .tabs-steps-section--left .body-tabs-steps--no-img & {
            left: 30px;
        }
    }

    .body-tabs-steps .body-tabs-steps__img-box {
        width: 400px;
        margin: 0 0 15px 30px;

        .tabs-steps-section--left & {
            margin: 0 30px 15px 0;
        }
    }
}

@media screen and (max-width: 992px) {
    .body-tabs-steps .body-tabs-steps__img-box {
        width: 350px;
    }

    .body-tabs-steps__number {

        .tabs-steps-section--left & {
            left: 410px;
        }
    }
}

@media screen and (max-width: 768px) {
    .body-tabs-steps {
        padding-top: 30px;
    }

    .body-tabs-steps .body-tabs-steps__img-box {
        float: none;
        width: 100%;
        margin-left: 0;
    }
}

@media screen and (max-width: 576px) {
    .body-tabs-steps {
        padding-top: 15px;
        padding-left: 15px;
    }

    .body-tabs-steps__number {
        top: 15px;
        left: 15px;

        .tabs-steps-section--left & {
            left: 15px;
        }

        .tabs-steps-section--left .body-tabs-steps--no-img & {
            left: 15px;
        }
    }
}