.button {
    position: relative;
    display: inline-block;
    max-width: 100%;
    padding: 21px 30px;
    user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    white-space: normal;
    word-wrap: normal;
    color: #fff;
    background-color: $color-secondary;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all .15s ease-in;

    &:hover,
    &:focus {
        background-color: $color-secondary--light;
    }

    &--fill-one {
        //padding: 25px 35px;
        font-weight: 600;
        color: #000;
        background-color: $color-accent;
        border-radius: 35px;
        box-shadow: 0 2px 15px rgba(9, 12, 18, .15);

        &:hover,
        &:focus {
            background-color: #fedf7a;
            box-shadow: 0 2px 15px rgba(9, 12, 18, 0);
        }
    }

    &--fill-two {
        color: $color-main--dark;
        background-color: #fff;

        &:hover,
        &:focus {
            color: #fff;
            background-color: $color-secondary;
        }
    }

    &--with-arrow {
        padding-right: 80px;

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 40px;
            width: 8px;
            height: 12px;
            background: url("img/bg/angle-right--black.svg") no-repeat center;
            background-size: contain;
            transition: all .15s ease-in;
            transform: translate(0, -50%);
        }

        &:hover::after,
        &:focus::after {
            transform: translate(5px, -50%);
        }
    }

    &--stroke {
        padding: 20px 30px;
        color: $color-main--dark;
        background-color: #fff;
        border: 1px solid $color-secondary;

        &:hover,
        &:focus {
            color: #fff;
            background-color: $color-secondary;
        }
    }

    &--with-icon {
        padding-left: 65px;
        
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 30px;
            width: 18px;
            height: 18px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            transform: translate(0, -50%);
        }

        &--download::before {
            background-image: url("img/bg/down-arrow.svg");
        }
    }
}
