.checklist {

}

.checklist__form {

}

.checklist__txt {
    margin-top: 15px;
}

.checklist__btn-download-box {
    margin: 0;
}

.checklist__btn-download {
    margin-top: 25px;
}
