.checklist-form {
    padding: 35px 35px 5px;
    background-color: #e3f0ff;
    border-radius: 8px;
    border: 1px solid #ccd8e5;
}

.checklist-form__title {
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 22px;
    text-transform: none;
}

.checklist-form__list {
    @include reset-list;

    border-top: 2px solid #000;
}

.checklist-form__item {

}

.checklist-form__icon {
    position: relative;
    flex-shrink: 0;
    display: block;
    width: 25px;
    height: 25px;
    margin-top: 3px;
    margin-right: 12px;
    border: 1px solid #9b9b9b;
    border-radius: 3px;

    &::after {
        content: "";
        position: absolute;
        top: -6px;
        left: 4px;
        display: none;
        width: 23px;
        height: 24px;
        background: url("img/bg/check-mark.svg") no-repeat 0 0;
        background-size: contain;
        
        .checklist-form__field:checked + & {
            display: block;
        }
    }
}

.checklist-form__label {
    display: flex;
    align-items: flex-start;
    padding: 15px 0;
    font-weight: 600;
    font-size: 18px;
    border-bottom: 1px solid #e6e6e6;
    cursor: pointer;

    .checklist-form__item:last-child & {
        border-bottom: none;
    }
}

.checklist-form__field {

}

@media screen and (max-width: 768px) {
    .checklist-form {
        padding-right: 15px;
        padding-left: 15px;
    }
}
