.crush-test-section {
    //padding: 55px 0;
    padding: 50px 0;
    color: #fff;
    background: #22273b linear-gradient(45deg, rgba(25,28,43,1) 0%, rgba(62,65,86,1) 100%);
}

.crush-test-section .container {
    display: flex;
    align-items: center;
}

.crush-test-section__img-box {
    flex-shrink: 0;
    margin: 0 75px 0 -47px;
}

.crush-test-section__img {

}

.crush-test-section__right {
    flex-grow: 1;
    text-align: justify;
}

.crush-test-section__title {
    margin-bottom: 24px;
    padding-left: 65px;
    text-align: left;
}

.crush-test-section__right p:not(.heading-2) {
    line-height: 1.9375;
    margin: 16px 0;
}

.crush-test-section__right *:first-child {
    margin-top: 0;
}

.crush-test-section__right *:last-child {
    margin-bottom: 0;
}

.crush-test-section__button {
    display: block;
    width: 180px;
    margin-top: 30px;
}
