.design-list ul {
    padding: 0;
    list-style: none;
}

.design-list li {
    position: relative;
    margin-bottom: 16px;
    padding-left: 40px;

    &:last-child {
        margin-bottom: 0;
    }

    &::before {
        content: "";
        position: absolute;
        top: 12px;
        left: 20px;
        width: 7px;
        height: 7px;
        background-color: $color-secondary;
        border-radius: 50%;
    }
}
