.error-404 {
    padding-top: 150px;
    padding-bottom: 80px;
    text-align: center;
}

.error-404__title {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 100px;
    line-height: 1.25em;
}

.error-404__subtitle {
    margin: 0;
}

.error-404__subtitle a {
    text-decoration: underline;
    color: $color-secondary;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}
