.filter-field-box {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 20px;
        width: 8px;
        height: 12px;
        margin-top: -6px;
        background: url("img/bg/angle-right.svg") no-repeat center;
        background-size: contain;
        pointer-events: none;
        transition: all .3s ease-in;
        transform-origin: center;
    }

    &:focus-within::after {
        transform: rotate(90deg);
    }
}

.filter-field-box__field {
    padding-right: 44px;
    cursor: pointer;
    appearance: none;
}