.format {
    padding-top: 65px;
    background-color: #f5f5f5;
}

.format .container > *:last-child {
    margin-bottom: 0;
}

.format__text {
    margin-bottom: 33px;
}

.format__features-box {
    display: flex;
}

.format__features {
    flex-grow: 1;
    width: 50%;
    margin-right: 60px;

    &:nth-child(2n),
    &:last-child {
        margin-right: 0;
    }
}

@media screen and (max-width: 992px) {
    .format__features {
        margin-right: 30px;
    }
}

@media screen and (max-width: 768px) {
    .format__features-box {
        display: block;
    }

    .format__features {
        width: 100%;
        margin-right: 0;
        margin-bottom: 35px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .features__title {
        text-align: center;
    }
}
