.implemented-cases {
    padding-top: 65px;
    padding-bottom: 80px;
    background-color: #f5f5f5;
    overflow: hidden;
}

.implemented-cases__title {
    margin-top: 0;
    margin-bottom: 8px;
}

.implemented-cases__filter {
    margin-bottom: 50px;
}

.implemented-cases__list {
    margin: 0 0 40px 0;
}

.implemented-cases__button-box {
    margin: 0;
    text-align: center;
}

@media screen and (max-width: 992px) {
    .implemented-cases__filter {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .implemented-cases {
        padding: 50px 0;
    }
}