.insider {
    position: relative;
    padding: 34px 55px 55px 290px;
    font-weight: 400;
    background-color: #fff;
}

.insider__number {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 260px;
    font-weight: 600;
    font-size: 180px;
    line-height: .8;
    text-align: center;
    color: #dbdbdb;
    transform: translate(0, -50%);

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 60px;
        height: 60px;
        background: url("img/bg/brain.svg") no-repeat center center;
        background-size: contain;
        transform: translate(-50%, -50%);
    }
}

.insider .insider__number + * {
    margin-top: 0;
}

.insider strong {
    display: block;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.5;
    text-align: left;
    color: $color-main--dark;
}

@media screen and (max-width: 1200px) {
    .insider {
        padding-left: 210px;
    }

    .insider__number {
        width: 180px;
    }
}

@media screen and (max-width: 992px) {
    .insider {
        padding-right: 30px;
        padding-left: 30px;
    }

    .insider__number {
        position: relative;
        float: left;
        width: 135px;
        font-size: 130px;
        transform: none;

        &::after {
            width: 50px;
            height: 50px;
        }
    }
}

@media screen and (max-width: 576px) {
    .insider {
        padding-right: 15px;
        padding-left: 15px;
    }

    .insider__number {
        float: none;
        width: 100%;
        margin-bottom: 25px;
    }
}
