.insider {
    display: flex;
    align-items: flex-start;
    padding: 34px 55px 55px 0;
    background-color: #fff;
}

.insider__number {
    position: relative;
    flex-shrink: 0;
    width: 260px;
    margin-right: 30px;
    font-weight: 600;
    font-size: 180px;
    line-height: .8;
    text-align: center;
    color: #dbdbdb;

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 60px;
        height: 60px;
        background: url("img/bg/brain.svg") no-repeat center center;
        background-size: contain;
        transform: translate(-50%, -50%);
    }
}

.insider__text {
    flex-grow: 1;
    font-weight: 400;
}

.insider__text h3 {
    font-weight: 500;
    font-size: 22px;
    text-align: left;
}