.main-header {
    //margin-bottom: -90px;
    margin-bottom: -51px;
    //padding: 10px 0;
}

.main-header__wr {
    position: relative;
    z-index: 1;
    //height: 90px;
    height: 51px;
    //padding-top: 40px;
    padding-top: 10px;
    background-color: #fff;

    .main-header--transparent &:not(&--sticky) {
        background-color: transparent;
    }
    
    &--sticky {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;
        width: 100%;
        height: auto;
        padding: 10px 0;
        box-shadow: 0 -2px 12px rgba(0, 0, 0, .3);
        animation: smooth-scroll-down 1s forwards;
    }

    &--end-sticky {
        top: 118.8px;
        animation: smooth-scroll-up 1s forwards;
    }
}

.main-header .container {
    display: flex;
}

.main-header__nav {
    //flex-grow: 1;
    margin-right: 20px;
    margin-left: auto;

    //.main-header--home & {
    //    flex-grow: 0;
    //}
}

.main-header__search {
    flex-shrink: 0;
    width: 215px;
    transition: all .3s ease-in;

    &:focus-within {
        width: auto;
        flex-grow: 1;
    }
}