.main-nav {

}

.main-nav__list {
    @include reset-list;

    display: flex;
}

.main-nav__list li {
    margin-right: 20px;

    &:last-child {
        margin-right: 0;
    }
}

.main-nav__list a {
    display: block;
    //padding: 14px 35px;
    padding: 10px 30px;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    background-color: $color-secondary;
    border-radius: 25px;
    transition: all .15s ease-in;

    .main-header--transparent .main-header__wr:not(.main-header__wr--sticky) & {
        color: $color-main--dark;
        background-color: #fff;

        &:hover,
        &:focus {
            color: #fff;
            background-color: $color-secondary;
        }
    }
    
    &:hover,
    &:focus {
        background-color: $color-secondary--light;
    }

    //.main-nav__item--to-home & {
    //
    //}
}

//.main-nav__item--to-home + li {
//    margin-left: auto;
//}

/* styles for the current menu item */
.main-header--transparent .main-header__wr:not(.main-header__wr--sticky) .main-nav__list .current-menu-item a {
    color: #fff;
    background-color: $color-secondary;
}

.main-header--transparent .main-header__wr.main-header__wr--sticky .main-nav__list .current-menu-item a {
    background-color: $color-main;
}
/* end styles for the current menu item */

@media screen and (max-width: 992px) {
    .main-nav__list {
        flex-direction: column;
        align-items: center;
    }

    .main-nav__list li {
        margin-right: 0;
    }

    .main-nav__list a {
        padding: 10px 0;
        font-size: 20px;
        line-height: 1.25;
        color: $color-main--dark;
        background-color: transparent;

        &:hover,
        &:focus {
            background-color: transparent;
        }
    }

    /* styles for the current menu item */
    .main-header--transparent .main-header__wr:not(.main-header__wr--sticky) .main-nav__list .current-menu-item a,
    .main-header--transparent .main-header__wr.main-header__wr--sticky .main-nav__list .current-menu-item a {
        color: $color-secondary;
        background-color: transparent;
    }
    /* end styles for the current menu item */
}