.nav-authors-tabs {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    border-top: 1px solid #bfbfbf;
    border-left: 1px solid #bfbfbf;
}

.nav-authors-tabs__item {
    display: flex;
    flex-grow: 1;
    width: 189px;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #bfbfbf;
    background-color: #fff;

    &.ui-tabs-active {
        background-color: $color-main;
    }
}

.nav-authors-tabs__link {
    width: 100%;
    padding: 40px 10px 30px;
    line-height: 1.5;
    text-align: center;
    color: $color-main;

    .nav-authors-tabs__item.ui-tabs-active & {
        color: #fff;
    }
    
    &:focus {
        outline: none;
    }
}

.nav-authors-tabs__avatar {
    width: 100px;
    height: 100px;
    margin: 0 auto 21px;
    border-radius: 50%;
    object-fit: cover;
}

.nav-authors-tabs__name {
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: 700;
}

.nav-authors-tabs__position {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
}

.nav-authors-tabs__link > *:first-child {
    margin-top: 0;
}

.nav-authors-tabs__link > *:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1200px) {
    .nav-authors-tabs {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 408px) {
    .nav-authors-tabs__link {
        padding-right: 15px;
        padding-left: 15px;
    }
}