.offer-inner {
    color: #fff;
    padding-top: calc(90px + 30px);
    padding-bottom: 70px;
    background: #22273b linear-gradient(45deg, rgba(25,28,43,1) 0%, rgba(62,65,86,1) 100%);
    overflow: hidden;

    &--article {
        padding-bottom: 30px;
    }
}

.offer-inner__title {
    margin: 0;

    .offer-inner--article & {
        margin-bottom: 30px;
    }
}

.offer-inner__terms {
    align-self: flex-start;
    margin: 0 -35px -5px 0;
}
