.posts {
    position: relative;
    padding-top: 65px;
    padding-bottom: 80px;
    background-color: $color-bg;
}

.posts__title {
    margin-top: 0;
    margin-bottom: 35px;
}

.posts__actions {
    margin-bottom: 16px;
}

.posts__list {
    margin: 0;
}

.posts__filter-show-button {
    position: absolute;
    top: 115px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    padding: 0;
    background-color: #000;
    border: none;
    cursor: pointer;
    transition: all .15s ease-in;

    .show-filter & {
        left: -70px;
    }

    &:hover,
    &:focus {
        background-color: $color-secondary;
    }

    &:focus {

    }
}

@media screen and (max-width: 1200px) {
    .posts__filter-show-button {
        display: none;
    }
}
