.project-entry {
    padding-top: 65px;
    background-color: $color-bg;
}

.project-entry__text {
    margin-bottom: 20px;
}

.project-entry__terms {
    margin: 0;
    padding-top: 21px;
    padding-bottom: 24px;
    border-top: 1px solid #c2c2c2;
}
