.search-form {
    display: flex;
    position: relative;
}

.search-form__field {
    padding: 10px 66px 10px 30px;
    font-style: italic;
    appearance: none;

    .main-header--transparent .main-header__wr:not(.main-header__wr--sticky) & {
        border: none;

        &:focus {
            box-shadow: 0 0 10px rgba(255, 255, 255, 1);
        }
    }
}

.search-form__field::-ms-clear {
    display: none;
}

.search-form__field::-webkit-search-decoration,
.search-form__field::-webkit-search-cancel-button,
.search-form__field::-webkit-search-results-button,
.search-form__field::-webkit-search-results-decoration {
    display: none;
}

.search-form__button {
    position: absolute;
    top: 0;
    right: 0;
    width: 67px;
    height: 100%;
    padding: 0;
    background: 0 0;
    border: none;
    transition: all .15s ease-in;
    opacity: .5;
    cursor: pointer;

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 16px;
        height: 16px;
        background: url("img/bg/search.svg") no-repeat 0 0;
        background-size: contain;
        transform: translate(-50%, -50%);
    }

    &:hover,
    &:focus {
        opacity: .8;
    }

    &:focus {
        outline: none;
    }
}
