.search {
    display: flex;
    position: relative;
}

.search__field {
    padding-right: 66px;
    font-style: italic;
    appearance: none;
}

.search__field::-ms-clear {
    display: none;
}

.search__field::-webkit-search-decoration,
.search__field::-webkit-search-cancel-button,
.search__field::-webkit-search-results-button,
.search__field::-webkit-search-results-decoration {
    display: none;
}

.search__button {
    position: absolute;
    top: 0;
    right: 0;
    width: 67px;
    height: 100%;
    padding: 0;
    background: 0 0;
    border: none;
    transition: all .15s ease-in;
    opacity: .5;
    cursor: pointer;

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 21px;
        height: 21px;
        background: url("img/bg/search.svg") no-repeat 0 0;
        background-size: contain;
        transform: translate(-50%, -50%);
    }

    &:hover,
    &:focus {
        opacity: .8;
    }

    &:focus {
        outline: none;
    }
}