.similar-projects {
    padding-top: 65px;
    padding-bottom: 80px;
    background-color: $color-bg;
}

.similar-projects__title {
    margin-top: 0;
    margin-bottom: 35px;
}

.similar-projects__list {
    margin: 0;
}
