.step-field-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}

.step-field-list .step-field-list__item {
    margin-right: 20px;
    margin-bottom: 15px;
    padding-left: 0;

    &::before {
        display: none;
    }
}

.step-field-list__field {

}

.step-field-list__label {
    min-width: 150px;

    .step-field-list__field:checked ~ &,
    &:focus {
        font-weight: 700;
        color: #fff;
        background-color: $color-secondary;
    }

    .step-field-list__field.error ~ & {
        background-color: rgba(251, 82, 88, .1);
        border-color: $color-warning;

        &:hover,
        &:focus {
            color: $color-main--dark;
            background-color: #fff;
        }
    }
}

.step-field-list label.error {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    padding-top: 3px;
}

@media screen and (max-width: 576px) {
    .step-field-list .step-field-list__item {
        flex-grow: 1;
    }
    
    .step-field-list__label {
        display: block;
    }
}

@media screen and (max-width: 390px) {
    .step-field-list .step-field-list__item {
        margin-right: 15px;
    }
}
