.terms-list {
    padding: 0;
    list-style: none;

    &--row {
        display: flex;
        flex-wrap: wrap;
    }

    &--article {
        justify-content: flex-end;
    }
}

.terms-list__item {
    position: relative;
    margin-bottom: 12px;
    padding-left: 30px;

    &:last-child {
        margin-bottom: 0;
    }

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 13px;
        height: 16px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        transform: translate(0, -50%);
    }

    .terms-list--row & {
        margin-right: 80px;
        margin-bottom: 0;

        &:last-child {
            margin-right: 0;
        }
    }

    .terms-list--article & {
        margin-right: 35px;
        margin-bottom: 5px;
        padding-left: 23px;

        &:last-child {
            margin-right: 35px;
        }
    }

    .terms-list--offer-project & {
        margin-bottom: 10px;
    }

    .terms-list--article & {
        font-size: 13px;
    }

    &--author::before {
        background-image: url("img/bg/user.svg");
    }

    &--country::before {
        background-image: url("img/bg/maps.svg");

        .terms-list--white & {
            background-image: url("img/bg/maps--white.svg");
        }
    }

    &--time::before {
        background-image: url("img/bg/calendar.svg");

        .terms-list--white & {
            background-image: url("img/bg/calendar--white.svg");
        }

        .terms-list--article & {
            background-size: 12px;
        }
    }

    &--year::before {
        background-image: url("img/bg/calendar.svg");
    }

    &--reading-time::before {
        background-image: url("img/bg/clock.svg");
    }

    &--views::before {
        background-image: url("img/bg/eye.svg");
    }
}