.terms-list {
    padding: 0;
    list-style: none;

    &--row {
        display: flex;
    }
}

.terms-list__item {
    position: relative;
    margin-bottom: 12px;
    padding-left: 40px;

    .terms-list--row & {
        margin-right: 80px;
        margin-bottom: 0;

        &:last-child {
            margin-right: 0;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 13px;
        height: 16px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        transform: translate(0, -50%);

        .terms-list--row & {
            width: 17px;
            height: 17px;
        }
    }

    &--author::before {
        background-image: url("img/bg/user.svg");
    }

    &--country::before {
        background-image: url("img/bg/maps.svg");

        .terms-list--white & {
            background-image: url("img/bg/maps--white.svg");
        }
    }

    &--time::before {
        background-image: url("img/bg/calendar.svg");

        .terms-list--white & {
            background-image: url("img/bg/calendar--white.svg");
        }
    }
}