.useful-experience {
    padding-top: 65px;
    background-color: $color-bg;
}

.useful-experience .container > *:last-child {
    margin-bottom: 0;
}

.useful-experience__text {
    margin-bottom: 33px;
}

.useful-experience__head {
    display: flex;
    margin-bottom: 23px;
}

.useful-experience__subtitle {
    margin: 0;
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;

    &--left {
        width: 40%;
        padding-right: 60px;
    }

    &--right {
        width: 60%;
    }
}

.useful-experience__tasks {
    margin: 0;
}

@media screen and (max-width: 992px) {
    .useful-experience__head {
        justify-content: center;
    }

    .useful-experience__subtitle {

        &--left {
            width: auto;
            padding-right: 0;

            &::after {
                content: "/";
                display: inline;
                margin: 0 10px;
            }
        }

        &--right {
            width: auto;
        }
    }
}
